.notice__wrap {
  width: 1280px;
  height: 212px;
  margin: 0 auto 79px auto;
}
.notice__wrap article:nth-child(1) {
  width: 550px;
  height: 212px;
  float: left;
  padding-left: 50px;
}
.notice__wrap article:nth-child(1) h2 {
  font-size: 38px;
}
.notice__wrap article:nth-child(1) p {
  margin-top: 24px;
  margin-bottom: 40px;
  font-size: 18px;
}
.notice__wrap article:nth-child(1) .notice__more__info {
  font-size: 16px;
  height: 30px;
  border-bottom: 1px solid black;
  font-weight: bold;
  cursor: pointer;
}

.notice__wrap article:nth-child(2) {
  float: right;
  height: 212px;
}
.notice__content__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.notice__content__container .notice__content {
  width: 680px;
  display: flex;
  justify-content: space-between;
  padding: 25px 0 32px 0;
  box-sizing: border-box;
  border-bottom: 1px solid #cecece;
  font-weight: bold;
  cursor: pointer;
}
.notice__content__container .notice__content:first-child {
  padding-top: 0;
}
.notice__content__container .notice__content p {
  font-size: 16px;
  color: #111111;
}
.notice__content__container .notice__content .notice__content__date {
  color: #969696;
}
.service__wrap {
  clear: both;
}
