.slider__wrap {
  position: relative;
  top: 120px;
  width: 1920px;
  overflow: hidden;
  margin: 0 auto;
  height: 760px;
}

.slider__img__container {
  width: calc(1920px * 7);
  transform: translateX(-1920px);
  height: 640px;
  overflow: hidden;
  transition: transform 1300ms;
}
.slider__img__inner {
  margin-top: -2.5%;
  float: left;
  position: relative;
}

.slider__control {
  display: flex;
}
.slider__left,
.slider__right {
  position: absolute;
  top: 35%;
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
}
.slider__left {
  left: 200px;
}
.slider__right {
  right: 200px;
}

.slider__img__info {
  position: absolute;
  top: 0;
  margin-top: 120px;
  width: 840px;
  height: 640px;
}
