.slider__wrap {
  position: relative;
  top: 120px;
  width: 1920px;
  overflow: hidden;
  margin: 0 auto;
  height: 760px;
}

.slider__img__container {
  width: calc(1920px * 7);
  transform: translateX(-1920px);
  height: 640px;
  overflow: hidden;
  transition: transform 1300ms;
}
.slider__img__inner {
  margin-top: -2.5%;
  float: left;
}

.slider__control {
  display: flex;
}
.slider__left,
.slider__right {
  position: absolute;
  top: 40%;
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
}
.slider__left {
  left: 230px;
}
.slider__right {
  right: 230px;
}

.slider__img__info {
  position: absolute;
  top: 0;
  width: 800px;
  height: 640px;
  padding: 150px 40px 0 0;
  opacity: 0;
  transition: opacity 1000ms;
}
.slider__img__info > h1 {
  color: white;
  font-weight: bold;
  font-size: 40px;
  display: flex;
  justify-content: flex-end;
  line-height: 55px;
}

.slider__img__container
  > .slider__img__inner:nth-child(2)
  > .slider__img__info {
  background: rgb(233, 175, 86);
  background: linear-gradient(
    158deg,
    rgba(223, 150, 42, 0.8) 0%,
    rgba(231, 18, 46, 0.8) 50%,
    rgba(251, 0, 34, 0.8) 90%
  );
}
.slider__img__container > .slider__img__inner > .slider__img__info.active {
  opacity: 1;
}
